.variable {
    border-bottom: #d28445 2px dotted;
}

#params{
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
    color: #eeeeee;
}

#params strong{
    color: #eedede;
}

#params input[type=submit],
#params input[type=button],
#params input[type=text],
#params input[type=email],
#params textarea,
#params label
{
    color: #fff;
    font-size: 18px;

}
#params label {
    display:block;
    margin-bottom: 10px;
    font-size: 12px;
}
#params label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
#params input[type=text],
#params input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 95%;
    outline: none;
    padding: 0px 0px 0px 0px;
}
#params textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

#params textarea:focus,
#params input[type=text]:focus,
#params input[type=email]:focus,
#params input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

#params input[type=submit],
#params input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
#params input[type=submit]:hover,
#params input[type=button]:hover{
    background: #394D61;
}
